<!DOCTYPE html>
<html>
<body>

<h1>IRIS FLOWER CLASSIFICATION PREDICTION</h1>
<form action="prediction" method="post">
    <label for="SW">Enter Sepal Width:</label><br>
    <input type="number" step="any" id="SW" name="SW"><br><br>
    
    <label for="PW">Enter Petal Width:</label><br>
    <input type="number" step="any" id="PW" name="PW"><br><br>
    
    <label for="SL">Enter Sepal Length:</label><br>
    <input type="number" step="any" id="SL" name="SL"><br><br>
    
    <label for="PL">Enter Petal Length:</label><br>
    <input type="number" step="any" id="PL" name="PL"><br><br>
    
    
    <input type="submit">
</form>